* {
    box-sizing: border-box;
}

html, body {
    margin: 0; padding: 0;
    font-family: 'DM Sans', Avenir sans-serif;
    color: #333;
}

main {
    padding: 0 20px;
}

.answer {
    margin: auto;
    padding: 37px 20px;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

.answer1 {
    background-color: #2ecc71;
    box-shadow: #27ae60 4px 4px;
}

.answer2{
    background-color: #e74c3c;
    box-shadow: #c0392b 4px 4px;
}

.answer3{
    background-color: #3498db;
    box-shadow: #2980b9 4px 4px;
}

.answer4{
    background-color: #f39c12;
    box-shadow: #e67e22 4px 4px;
}

.bar {
    display: inline-block;
}
.square {
    border: none;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    width: 70px;
    height: 0px;
    font-size: 20px;
    transition: height 0.5s ease-out;
}

.squareLabel {

}
#square1 {
    background-color: #2ecc71;
}

#square2{
    background-color: #e74c3c;
}

#square3{
    background-color: #3498db;
}

#square4{
    background-color: #f39c12;
}

#nextQButton{
    display: none;
}
#num{
    font-size: 35px;
}

#winner1{
    text-align: center;
    font-size: 30px;
    display: none;
}
#winner2{
    text-align: center;
    font-size: 22px;
    display: none;
}
#winner3{
    text-align: center;
    font-size: 20px;
    display: none;
}
#winner4{
    text-align: center;
    display: none;
}
#winner5{
    text-align: center;
    display: none;
}
#winnerTitle{
    text-align: center;
    font-size: 35px;
    color: #3399ff;
    display: none;
}